<div class="hero__inner large large-xs overlay u-mb--30"
  style="background-image:url(./assets/images/background/static.jpg);background-position:center center;">
  <div class="container-fluid">
    <header class="hero__inner--content hero__inner--content-xs text-center">
      <h1 class="subhead subhead-xs text-white u-flexed u-align-center u-justify-center"><button type="button"
          class="button--back button--back-xs" (click)="changeRouter('checkout')">{{'BACK' | translate}}</button>
        {{'PLACE_ORDER2' | translate}}
      </h1>
    </header>
  </div>
</div>
<div class="clearfix"></div>