/* Track package Page
------------------------------------*/
.section--title {
    @extend .u-upper;
    color: $black_sh1;
    @include padding(0);
    @include font-size(22);
    background-color: $white;
    font-weight: $weightBold;

    @include responsive(sm) {
        @include font-size(26);

        @include respond-to(lg) {

        }
    }
}
.portlet {
    width: 100%;
    @include flexbox;
    @include padding(0);
    @include padding-left(0);
    @include flex-direction(column, vertical);
    @include margin-bottom(30);
    @include calc(height, '100% - 30px');
    
    
    
    &.light {
        background-color: $white;
    }
    
    &.bordered {
        border: 0px none;
    }
    
    &--title {
        @extend .u-upper;
        color: $black_sh1;
        @include padding(0);
        @include font-size(22);
        background-color: $white;
        font-weight: $weightBold;
        
        @include responsive(sm) {
            @include font-size(26);
            
            @include respond-to(lg) {
                
            }
        }
    }
    
    &--body {
        &--inner {
            @include padding(0 0 20 0);
            
            @include responsive(sm) {
                @include padding(0 0 30 0);
            }
        }
        
        .table {
            @include margin-bottom(0);
            
            thead {
                background-color: #cddeaa;
            }
            
            thead, tbody, tfoot {
                td, th {
                    color: $black_sh1;
                    @include padding(13 20);
                    vertical-align: middle;
                }
            }
            
            .th--sl, .td--sl {
                width: 50px;
                max-width: 50px;
            }
            .th--prdt, .td--prdt {
                max-width: 450px;
            }
            .th--qty, .td--qty {
                max-width: 150px;
            }
            .th--tax, .td--tax {
                max-width: 100px;
            }
            .th--dis, .td--dis {
                max-width: 100px;
            }
            .th--ship, .td--ship {
                max-width: 100px;
            }
            .th--total, .td--total {
                max-width: 200px;
                text-align: right;
            }
        }
        
        .prdt--image {
            @include size(62px);
            border: 1px solid $border;
            
            img {
                @include size(60px);
                @include object-fit(cover);
            }
        }
        .prdt--name {
            color: $black_sh1;
            @incldue font-size(18);
            @include margin-left(10);
        }
        
        .control-label,
        .form-control-static {
            min-height: 34px;
            color: $black_sh1;
            display: inline-block;
            @include font-size(17);
            line-height: 1.6;
            @include padding-top(7);
            @include margin-bottom(0);
            @include padding-bottom(7);
        }
        
        .table-sub--total {
            text-align: right;
            @include padding(10 20 15);
            border-top: 1px solid rgba($border,0.33);
            
            .price {
                width: 120px;
                display: inline-block;
                max-width: 120px;
                color: $black_sh1;
                @include padding-left(50);
                
                &.green {
                    color: $green;
                    font-weight: $weightBold;
                }
            }
        }
        
        .quantity {
            @include margin-right(0);
            
            input[type="text"] {
                width: 30px;
            }
        }
        
        .wishlist-product-price {
            color: $black_sh3;
        }
        
        span.wishlist-in-stock {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            
            &:before {
                color: $green;
                content: "\f109";
                display: inline-block;
                vertical-align: middle;
                font-family: $woodmart;
                @include margin-right(5);
            }
        }
    }
}

@media (max-width:767px) {
    .portlet {
        @include padding-left(0);
        
        &--body {
            .control-label {
                max-width: 33.3333%;
                flex: 0 0 33.3333%;
            }
            .control-details {
                max-width: 66.6666%;
                flex: 0 0 66.6666%;
            }
            
            .table {
                .th--sl, .td--sl {
                    display: none;
                }
            }
        }
    }
}
