 /* Detail Page
------------------------------------*/

.w-fade {
    left: 0;
    width: 100%;
    bottom: 0px;
    height: 150px;
    position: absolute;
    background: linear-gradient(to bottom, rgba($white,0) 0%,rgba($white,1) 75%);
}

.reviews--content--inner {
    position: relative;
}

.moreless-button {
    z-index: 2;
    position: relative;
}

.product {
    &-details {
        @include margin-top(0);
        @include padding(40 0);

        @include responsive(xs) {
            @include padding(60 0 50);
        }
    }
    
    &--inner {
        z-index:1;
        overflow:hidden;
        position:relative;
    }
    
    .product-gallery {
        @include opacity(1);
    }
}

/* Categories */




.single-product-image .p-image img {
    width: 100%;
}
.single-product-image .slick-arrow {
    background-color: rgba(255, 255, 255, 0.3);
    color: #999999;
    cursor: pointer;
    font-size: 47px;
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 50%;
    padding: 0 30px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 9;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}
.single-product-image .slick-arrow:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.single-product-image .slick-arrow.slick-prev {left: -50px;}
.single-product-image .slick-arrow.slick-next {right: -50px;}
.single-product-image:hover .slick-arrow {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"}
.single-product-image .slick-arrow:focus {box-shadow: none}
.single-product-image:hover .slick-arrow.slick-prev {left: 0px;}
.single-product-image:hover .slick-arrow.slick-next {right: 0px;}

.single-product-thumbnail {
    margin-top: 12px;
    width: 100%;
}
.single-product-thumbnail .slick-list {
    margin-left: -7px;
    margin-right: -7px;
}
.padright{padding-right: 0}
.single-product-thumbnail .slick-list .p-thumb {
    cursor: pointer;
    margin: 0 7px;
}
.single-product-thumbnail .slick-list .p-thumb img {
    cursor: pointer;
    width: 100%;
}





.single-breadcrumbs-wrapper {
    margin-top: -15px;
    margin-bottom: 15px;
    
    @media (max-width: 767px) {
        &.no-margin {
            margin-bottom: 20px!important;
        }
    }
}

.single-breadcrumbs-wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.single-breadcrumbs-wrapper .container:after,
.single-breadcrumbs-wrapper .container:before {
    content: none
}

.single-breadcrumbs-wrapper .single-breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.missio-breadcrumb {
    @include font-size(15);
    @include margin-bottom(30);

     a {
        color: $white_sh2;
        font-style: normal;
        @inlcude margin-right(6);
        font-weight: $weightRegular;

         &:after {
            content: "/";
            @include margin-left(5);
            @include margin-right(5);
        }
    }
    .breadcrumb-last {
        color: $black_sh1;
        @include margin-right(8);
        font-weight: $weightBold;
        text-transform: capitalize;
    }
}


.single-breadcrumbs-wrapper {
    margin-top: 0;
    margin-bottom: 10px;
    
    .single-breadcrumbs {
        @include flexbox;
        @include flex-wrap(wrap);
        @include align-items(center);
        @include justify-content(space-between);
        
        .missio-breadcrumb {
            @include margin-bottom(10);
        }
    }
}


.missio-products-nav {
    position: relative;
    @include font-size(0);
    @include margin-bottom(10);
}

.missio-products-nav .product-btn {
    @include inline-flex;
    vertical-align: middle;
}

.missio-products-nav .product-btn > a {
    font-size: 0;
    display: block;
    color:$black_sh1;
    line-height: 20px;
    text-align: center;
    @include size(20px);
    vertical-align: middle;
}

.missio-products-nav .product-btn > a:focus,
.missio-products-nav .product-btn > a:hover {
    color:$green;
}

.missio-products-nav .product-btn > a span {
    @include font-size(12);
    line-height:20px;
}

.missio-products-nav .product-btn>a span:before {
    content:"\f111";
    display:inline-block;
    font-family:$woodmart;
}

.missio-products-nav .product-btn:hover>.wrapper-short {
    opacity: 1;
    visibility: visible;
    animation: fadeInLeftShort .3s ease both;
    -webkit-animation: fadeInLeftShort .3s ease both;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease
}

.missio-products-nav .product-next > a span:before {
    content:"\f110";
    font-family:$woodmart;
}

.missio-products-nav .product-back-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 20px;
    height: 20px;
    width: 20px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    vertical-align: middle;
    color:$black_sh1;
}

.missio-products-nav .product-back-btn span:not(.woodmart-tooltip-label) {
    display:none;
}

.missio-products-nav .product-back-btn:after {
    content:"\f11a";
    font-family:$woodmart;
    @include font-size(14);
    line-height:20px;
}

.missio-products-nav .product-back-btn:focus,
.missio-products-nav .product-back-btn:hover {
    color:$green;
}

.missio-products-nav .woodmart-back-btn .woodmart-tooltip-label {
    z-index: 380;
}

.missio-products-nav .wrapper-short {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 10px;
    visibility: hidden;
    opacity: 0;
    min-width: 250px;
    z-index: 350;
    animation: fadeOutLeftShort .1s ease .1s both;
    -webkit-animation: fadeOutLeftShort .1s ease .1s both;
    -webkit-transition: opacity .1s ease .1s, visibility .1s ease .1s;
    transition: opacity .1s ease .1s, visibility .1s ease .1s
}

.missio-products-nav .product-short {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
}

.missio-products-nav .product-short-image img {
    max-width: 90px;
    height: auto
}

.missio-products-nav .product-short-description {
    @include padding(10 10);
    @include padding-left(5);
}

.missio-products-nav .product-short-description .product-title {
    display:block;
    color:$black_sh1;
    @include font-size(15);
    @include margin-bottom(7);
    font-weight:$weightSemibold;
    text-transform: capitalize;
}

.missio-products-nav .product-short-description .price {
    display: block;
    font-size: 14px;
    line-height: 1.2
}

.active div.effect-pageLeft {
    @include animation(pageLeft 600ms ease both);
}




.summary-inner {
    @include padding-left(0);
    
    @include responsive(xs) {
        @include padding-left(0);
        
        @include respond-to(lg) {
            @include padding-left(0);
        }
    }
    
    .product_title, .product-rating, .price-box, .short-description, .single_variation_wrap, .product_meta,
    .product_button-groups {
        @include margin-bottom(25);
    }
    .product_title {
        color:$black_sh1;
        @include font-size(28);
        font-weight:$weightUltabold;
        line-height:1.2;
        text-transform: capitalize;
        @include margin-bottom(10);
        
        @include responsive(sm) {
            @include font-size(36);
            line-height:1.2;
            @include margin-bottom(6);
        }
    }
    .manufacturer_name {
        color:$black_sh2;
        @include font-size(16);
        @include margin-bottom(25);
        font-weight:$weightSemibold;
    }
    .product-rating {
        
    }
    
    .star-badge,
    .product_button-groups {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-start);
        @include flex-direction(row, horizontal);
    }
    
    .product_button-groups {
        .add_to_wishlist, .add_to_compare, .size_guide, .finance {
            padding:0;
            line-height:1;
            color:$black_sh1;
            letter-spacing:0;
            position:relative;
            text-transform:none;
            display:inline-block;
            vertical-align:middle;
            @include font-size(14);
            @include margin-right(20);
            font-weight:$weightSemibold;
            background-color:transparent;
            
            &:before {
                display:inline-block;
                vertical-align:middle;
                font-family:$woodmart;
                @include margin-top(-2);
                @include margin-right(5);
                font-weight:$weightRegular;
            }
                
            &:after {
                left:0;
                top:50%;
                content:"";
                position:absolute;
                @include size(14px);
                display:inline-block;
                vertical-align:middle;
                border:1px solid #bbb;
                @include border-radius(50%);
                border-left-color:$black_sh1;
                @include opacity(0);
                @include margin-top(-7);
                @include transition(opacity .2s ease);
            }
            
            &.loading {
                &:after {
                    @include opacity(1);
                    animation:load-spin 450ms infinite linear;
                    -webkit-animation:load-spin 450ms infinite linear;
                }
                &:before {
                    @include opacity(0);
                }
            }
            
            &:hover {
                color:$green;
            }
        }
        .add_to_wishlist {
            &:before {
                content:"\f108";
            }
        }
        .add_to_compare {
            &:before {
                content:"\f122";
            }
        }
        .size_guide {
            &:before {
                content:"\f438";
            }
        }
        .finance {
            &:before {
                content:"\f155";
                font-family:$iconfont;
                @include margin-top(-3);
            }
        }
    }
    
    .star-badge {
        
        &-wrap {
            @include margin-right(10);
        }
        &-caption {
            color:$black_sh2;
            @include font-size(14);
        }
    }
    
    .price-box {
        color:$green;
        @include font-size(24);
        line-height:1.2;
        font-weight:$weightSemibold;
        @include flexbox;
        @include align-items(flex-start);
        @include margin-bottom(20);
        @include flex-direction(column, vertical);
        
        .has-discount {
            color:$black_sh2;
            position:relative;
            @include font-size(22);
            @include margin-right(20);
            font-weight:$weightSemibold;
            
            &:before {
                top: 50%;
                width: 100%;
                height: 2px;
                content: ' ';
                position: absolute;
                background-color: $red;
                transform: rotate(-9deg) translateY(-50%);
            }
        }
        
        .has-info {
            @include flexbox;
            @include font-size(15);
            @include margin-top(10);
            font-weight:$weightMedium;
            @include align-items(center);
            
            &--time {
                color: $black_sh1;
                @include margin-right(20);
                
                span {
                    color: $green;
                }
            }
            &--shipping {
                .dropdown-menu {
                    @include padding-top(5);
                    @include padding-bottom(5);
                    @include border-radius(0px 5px 5px 5px);
                }
                
                .btn-sm {
                    @include padding(6 10);
                    @include font-size(14);
                    
                    span {
                        @include font-size(14);
                    }
                }
                
                .badge {
                    @include padding(4 8);
                    @include font-size(12);
                    background-color: $black_sh6;
                }
            }
        }
        
        del {
            color: #bbb;
            font-size: 90%;
            @include margin-right(5);
            font-weight:$weightRegular;
        }
        ins {
            border: 0px none;
            text-decoration: none;
        }
    }
    
    .short-description {
        color:$black_sh2;
        @include font-size(16);
        line-height:1.6;
    }
    
    .single_variation_wrap {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-start);
        @include flex-direction(row, horizontal);
    }
    
    .product_meta {
        list-style:none;
        @include margin(0);
        @include padding(0);
        @include padding-top(20);
        border-top:1px solid rgba(129,129,129,0.2);
        
        li {
            @include flexbox;
            @include margin(0);
            @include padding(0);
            @include margin-top(15);
            @include flex-wrap(wrap);
            color:rgba($black_sh1,0.5);
            @include align-items(center);
            @include justify-content(flex-start);
            
            strong {
                @include margin-right(5);
                color:rgba($black_sh1,1);
            }
            
            &:first-child {
                @include margin-top(0);
            }
            
            a {
                color:rgba($black_sh1,0.5);
                @include transition(all .2s ease);
                
                &:hover {
                    color:$green;
                }
            }
            .meta-sep {
                @include margin(0 4);
            }
            
            &.product-share {
                a {
                    display:block;
                    @include padding(5);
                    color:rgba($black_sh1,1);

                    &:hover {
                        color:$green;
                    }
                }
            }
        }
        
        .sku {
            color: $black_sh2;
        }
    }
}




@keyframes load-spin{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes load-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes fadeInLeftShort{from{-webkit-transform:translate3d(-20px,0,0);transform:translate3d(-20px,0,0)}to{-webkit-transform:none;transform:none}}@-webkit-keyframes fadeInLeftShort{from{-webkit-transform:translate3d(-20px,0,0)}to{-webkit-transform:none}}@-webkit-keyframes fadeOutLeft{from{-webkit-transform:none}to{-webkit-transform:translate3d(-50px,0,0)}}


.gallery-images {
    overflow:hidden;
    .product-images {
        overflow:hidden;
        border-radius:0px;
        position:relative;
    }
    .product-images,
    .multiple-img-list-ver2 {
        height:100%;
    }
    .product-img-slide {
        overflow:hidden;
    }
}

@media (min-width: 1367px) {
    .gallery-images .product-images {
        width: 81.5555%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media (max-width: 1366px) {
    .product-img-slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}


.multiple-img-list-ver2 {
    position: relative;
    
    .slick-list {
        overflow: hidden;
    }
    
    &.slick-slider {
        @include flexbox;
        @include flex-wrap(wrap);
        @include align-items(stretch);
        @include justify-content(space-between);
        @include flex-direction(row, horizontal);
        
        button {
            color: #333;
            padding: 0;
            width: 48%;
            height: 30px;
            border: none;
            @include font-size(0);
            line-height: 30px;
            @include margin-top(15);
            @include transition(all .2s ease);
            background-color: rgba($black_sh1,.1);
            
            &:before {
                height: 30px;
                display: block;
                color: $black_sh1;
                @include font-size(12);
                line-height: 30px;
                vertical-align: middle;
            }
            
            &:hover {
                background-color: rgba($success,1);
                &:before {
                    color:$white;
                }
            }
        }
        
        > button.slick-prev {
            left: 0px;
            float: left;
            @include order(2);
            
            &:before {
                content: "\f112";
                font-family: $woodmart;
            }
        }
        > button.slick-next {
            right: 0px;
            float: right;
            -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
            order: 2;
            
            &:before {
                content: "\f124";
                font-family: $woodmart;
            }
        }
        
        .slick-prev, .slick-next {
            
        }
        .slick-prev {
            left:0px;
            position:relative;
        }
        .slick-next {
            right:0px;
            position:relative;
        }
    }
}

.product-main-image {
    &.slick-slider {
        .slick-prev {
            left:-50px;
        }
        .slick-next {
            right:-50px;
        }
        
        button {
            padding:0;
            z-index:10;
            border:none;
            margin-top:0px;
            color:$black_sh1;
            @include size(36px);
            @include font-size(0);
            line-height:36px;
            @include opacity(0);
            @include transition(all .2s ease);
            background-color:rgba($black_sh1,0);

            &:before {
                display:block;
                color:$black_sh1;
                @include size(36px);
                @include font-size(20);
                line-height:36px;
                vertical-align: middle;
            }
        }
            
        .slick-prev {
            &:before {
                content:"\f111";
                font-family:$woodmart;
            }
        }
        .slick-next {
            &:before {
                content:"\f110";
                font-family:$woodmart;
            }
        }
        
        &:hover {
            .slick-prev {
                left:10px;
                @include opacity(1);
                &:before {
                    color: $success;
                }
            }
            
            .slick-next {
                right:10px;
                @include opacity(1);
                &:before {
                    color: $success;
                }
            }
        }
    }
}

.multiple-img-list-ver2.slick-vertical .slick-slide {
    border-radius:0px;
}

@media (max-width: 1366px) {
    .multiple-img-list-ver2 {
        margin:0;
    }
}

@media (min-width: 1367px) {
    .gallery-images .multiple-img-list-ver2 {
        width: 16.6666%;
        @include order(1);
        @include margin-right(12);
    }
    .multiple-img-list-ver2 .slick-slide img {
        display: inline-block;
    }
    .multiple-img-list-ver2 .product-col .img {
        display: inline-block;
    }
}

.multiple-img-list-ver2 .product-col {
    @include margin-bottom(12);
}

@media (max-width: 1366px) {
    .multiple-img-list-ver2 .product-col {
        width: 108px;
        @include padding(0 4);
        @include margin-top(30);
    }
}
.multiple-img-list-ver2 {
    .product-col {
        overflow: hidden;
        position: relative;
        
        img {
            @include opacity(.5);
            @include border-radius(0px);
            @include transition(all .3s);
        }
        &.slick-current {
            img {
                @include opacity(1);
            }
        }
        
        .video {
            position: relative;
            
            &:before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                position: absolute;
                @include size(100%);
                background-color: rgba($black,0.2);
            }
            
            .play {
                top: 50%;
                left: 50%;
                z-index: 3;
                position: absolute;
                @include size(36px);
                @include transform(translate(-50%,-50%));
                
                .play_icon {
                    display:block;
                    @include size(36px);
                    background-image:url('../images/icons/video-icon.svg');
                    background-position:center center;
                    @include background-size(36px auto);
                }
            }
        }
    }
}

.product-main-image {
    a {
        overflow:hidden;
        @include border-radius(0px);
    }
    img {
        width:100%;
        @include border-radius(0px);
        /*@include transition(all .3s);
        @include transform(scale(1.2));
        @include transition(all 1s cubic-bezier(0.7, 0, 0.3, 1));*/
    }
    
    .slick-active {
        img {
            /*@include transform(scale(1));*/
        }
    }
    .embed-container {
        width: 100%;
        height: 564px;
        overflow: hidden;
        position: relative;
    }
    .embed-container iframe,
    .embed-container object,
    .embed-container embed,
    .embed-container video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        @include object-fit(cover);
    }
    
    /*.slick-slide video {
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        display: block;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        @include object-fit(cover);
        @include transform(translate(-50%, -50%));
    }*/
    .slick-slide iframe {
        position: relative;
    }
}

.missio--product__additional-galleries {
    left:0;
    bottom:0;
    z-index:2;
    position:absolute;
    @include opacity(1);
    @include padding(20);
    @include transition(opacity .4s ease 1s);
}

.missio--product__gallery, .missio--product-video__gallery {
    @include flexbox;
    @include align-items(flex-start);
    @include flex-direction(column, vertical);
    
    > a {
        height:50px;
        min-width:50px;
        overflow:hidden;
        @include font-size(14);
        color:rgba($black_sh1,0.7);
        background:rgba($white,0.9);
        @include flexbox;
        @include flex-wrap(nowrap);
        @include align-items(center);
        @include border-radius(30px);
        @include flex-direction(row, horizontal);
        @include box-shadow(0 0 5px rgba($black,0.1));
        
        &:before {
            font-family:$woodmart;
            display:inline-block;
            @include font-size(16);
            line-height:50px;
            text-align:center;
            @include size(50px);
            color:rgba($black,1);
        }
        
        > span {
            max-width:0;
            overflow:hidden;
            white-space:nowrap;
            @include padding(0);
            color:rgba($black_sh1,0.7);
            font-weight:$weightSemibold;
            -webkit-transition:padding 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15),max-width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
            transition:padding 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15),max-width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
        }
        &:hover {
            background:rgba($green,0.9);
            &:before {
                color:rgba($white,1);
            }
            > span {
                max-width:280px;
                color:rgba($white,1);
                @include padding-right(25);
            }
        }
    }
}

.missio--product__gallery {
    > a {
        &:before {
            content:"\f121";
        }
    }
}
.missio--product-video__gallery {
    @include margin-bottom(10);
    > a {
        &:before {
            content:"\f100";
        }
    }
}


.product--specifications {
    
    .Other--Documents {
        &__Inner {
            list-style: none;
            @include flexbox;
            
            li {
                max-width: 150px;
                list-style: none;
                text-align: center;
                @include flex(0 0 50%);
                @include align-items(center);
                @include justify-content(center);
                @include flex-direction(column, vertical);
                
                .icon__wrap {
                    display: block;
                    margin: 0px auto;
                    @include size(60px);
                    @include margin-bottom(15);
                }
                
                .document__name {
                    display: block;
                    min-height: 22px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    
    @media (max-width: 400px) {
        .nav-tabs--items5 {
            @include flexbox;
            
            > li {
                max-width: 50%;
                @include flex(0 0 50%);
                
                &:last-child {
                    max-width: 100%;
                    @include flex(0 0 100%);
                }
            }
        }
    }
}


/* Quantity Spin */
.quantity {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;

    input[type=number] {
        border-radius: 0
    }
    .minus {
        cursor:pointer;
        border-top-left-radius: 1px;
        border-bottom-left-radius: 1px
    }

    .plus {
        cursor:pointer;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
    }
}

.quantity {
    height:46px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
    margin-right:20px;

    input[type=button], input[type=number], input[type=text] {
        height:46px;
        outline:none!important;
    }
}

input[type=text],
.quantity input[type=number],
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.quantity input[type=button],
.quantity input[type=number],
.quantity input[type=text] {
    color: #777;
    height:46px;
    display: inline-block;
}

.quantity input[type=number],
.quantity input[type=text] {
    border-left: none;
    border-right: none;
    width: 50px;
    height: 46px;
    padding:6px 10px;
    appearance:none;
    border: 0px none;
    text-align:center;
    border-top: 2px solid rgba(129, 129, 129, 0.2);
    border-bottom: 2px solid rgba(129, 129, 129, 0.2);
}

.quantity input[type=button] {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    padding: 0 5px;
    min-width: 25px;
    height: 46px;
    border: 2px solid rgba(129, 129, 129, 0.2);
}


/* Reviews */
.reviews {
    &--content, &--summary {
        .star-badge {
            i {
                color: $warning;
                @include margin-right(4);
            }
        }
    }
    
    &--content {
        $reviewsContentSelf: &;

        width: 100%;

        &__header {
            @include margin-bottom(15);
        }

        #{$reviewsContentSelf}__header--title {
            @include margin-bottom(15);

            .user-name {
                color: $green;
                @include margin-bottom(5);
            }
            .byline {
                color: $black_sh3;
                @include font-size(14);
            }
        }

        + #{$reviewsContentSelf} {
            @include margin-top(30);
            @include padding-top(30);
            @include padding-left(15);
            border-top: 1px solid rgba($border,0.5);

            @include responsive(xs) {
                @include padding-left(50);
            }
        }
    }
    
    &--summary {
        @include margin-bottom(30);
        @include padding-bottom(30);
        border-bottom: 1px solid rgba($border,0.5);
        
        @media (max-width: 600px) {
            display: block!important;
            
            .star-rating {
                @include margin-bottom(25);
            }
        }
    }
}
        
.more--reviews--content {
    display: none;
    @include margin-top(30);
    @include padding-top(30);
    border-top: 1px solid rgba($border,0.5);
}



/* PhotoSwipe */
.pswp__img {
    /*@include object-fit(cover);*/
}
.pswp__button--arrow--left, .pswp__button--arrow--right {
    &:before {
        color: $black_sh1;
        @include size(38px);
        @include opacity(1);
        @include font-size(18);
        line-height: 38px;
        font-family: $woodmart;
        @include border-radius(3px);
        background-color: rgba($white,1);
        @include transition(all .2s ease);
        @include box-shadow(0 0 10px rgba($black,0.15));
        background-image: none!important;
        backface-visibility:hidden;
        -webkit-backface-visibility:hidden;
        @include transition(transform 0.25s ease, -webkit-transform 0.25s ease);
    }
    &:hover {
        &:before {
            color: $white;
            background-color: rgba($success,1);
        }
    }
}
.pswp__button--arrow--left {
    &:before {
        content: '\f111';
    }
}
.pswp__button--arrow--right {
    &:before {
        content: '\f110';
    }
}


.tab-content--accessories {
    .accessories {
        
        &--box {
            background-color: $white;
            border: 1px solid $border;

            &--product {
                display: block;
                @include padding(5);
                border-bottom: 1px solid $border;
            }

            &--details {
                text-align: center;
                @include padding(10 5);
            }
            
            &--footer {
                @include flexbox;
                @include padding(0);
                align-items: center;
                justify-content: space-between;
                border-top: 1px solid $border;
                
                .btn-view, .btn-cart {
                    height: 36px;
                    color: $green;
                    max-height: 36px;
                    text-align: center;
                    @include padding(10);
                    @include transition(all .2s ease);
                }
                
                .btn-view {
                    max-width: calc(100% - 40px);
                    font-weight: $weightSemibold;
                    @include flex(0 0 calc(100% - 40px));
                    
                    &:hover, &:focus, &:active {
                        color: $white;
                        background-color: $green;
                    }
                }
                
                .btn-cart {
                    color: $green;
                    max-width: 40px;
                    @include flex(0 0 40px);
                    border-left: 1px solid $border;
                    
                    &:hover, &:focus, &:active {
                        color: $white;
                        background-color: $green;
                    }
                }
            }
        }
        
        &--name {
            color: $green;
            @include font-size(15);
            @include margin-bottom(5);
            font-weight: $weightSemibold;
            
            @include responsive(sm) {
                @include font-size(16);
            }
        }
        &--price {
            color: $black;
            @include font-size(20);
            font-weight: $weightBold;
            @include margin-bottom(0);
            
            @include responsive(sm) {
                @include font-size(24);
            }
        }
    }
    
    @media (max-width: 767px) {
        .mobile--half {
            max-width: 50%;
            @include flex(0 0 50%);
            @include margin-bottom(20);
        }
    }
}
