/* Shop Product(s) Listing
------------------------------------*/

.promo-banner, .shop--filters {
    width: 100%;
    @include margin-bottom(30);
    
    @include responsive(xs) {
        @include margin-bottom(40);
    }
}


/* Promo Banner */
.promo-banner {
    display: none;
    
    @include responsive(xs) {
        @include respond-to(sm) {
            @include respond-to(md) {
                display: block;
            }
        }
    }
    &--wrapper {
        overflow: hidden;
        position: relative;
    
        &.banner-hover-zoom {
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            perspective: 800px;
            -webkit-perspective: 800px;

            .banner-image {
                -webkit-transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
                -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
                transition: -webkit-transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
                transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
                transition: transform 0.5s cubic-bezier(0, 0, 0.44, 1.18), -webkit-transform 0.5s cubic-bezier(0, 0, 0.44, 1.18);
                
                img {
                    height: 250px;
                    @include object-fit(cover);
                }
                
                @include responsive(xs) {
                    img {
                        height: inherit;
                    }
                }
            }

            &:hover {
                .banner-image {
                    @include transform(scale(1.09));
                }
            }
        }
    }
    
    &--content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        overflow: hidden;
        @include flexbox;
        position: absolute;
        @include padding(30);
        @include align-items(flex-start);
        @include justify-content(center);
        @include flex-direction(column, vertical);
        
        &--inner {
            max-width: 250px;
        }
        
        .title {
            color: $black_sh1;
            @include font-size(20);
            @include margin-bottom(12);
            font-weight: $weightUltabold;
            
            @include responsive(xs) {
                @include font-size(24);
            }
        }
        .subtext {
            color: $black_sh1;
            @include font-size(15);
            line-height: 1.5;
            @include margin-bottom(20);
            font-weight: $weightRegular;
            
            @include responsive(xs) {
                @include font-size(16);
                line-height: 1.5;
            }
        }
    }
}


/* Shop Filters */
.shop--filters {
    @include flexbox;
    @include margin-top(4);
    @include flex(1 1 auto);
    @include align-items(center);
    @include flex-direction(column, vertical);
    
    @include responsive(sm) {
        @include flex-direction(row, horizontal);
    }
    
    .products--view {
        color: $black_sh2;
        @include inline-flex;
        @include flex-wrap(wrap);
        @include align-items(center);
        vertical-align: middle;
        @include font-size(15);
        line-height: 20px;
        font-weight: $weightRegular;
        margin-left: 0px!important;
        @include flex-direction(row, vertical);
        
        @include responsive(sm) {
            margin-left: auto!important;
            @include flex-direction(row, horizontal);
        }
        
        &__title {
            color: $black_sh1;
            display: inline-block;
            vertical-align: middle;
            @include margin-right(5);
            @include margin-bottom(0);
            font-weight: $weightSemibold;
            
            &:after {
                content: " :";
            }
        }
        
        &__variation {
            color: $black_sh2;
            @include padding(0 7);
            display: inline-block;
            vertical-align: middle;
            
            &.current {
                color: $success;
                font-weight: $weightSemibold;
            }
            
            &:hover {
                color: $success;
            }
        }
        
        &__sep {
            display: inline-block;
            vertical-align: middle;
            
            &:after {
                content: "/";
            }
        }
    }
}
    
.products--ordering {
    position: relative;
	@include inline-flex;
	vertical-align: middle;
	@include margin-left(30);
	@include flex-wrap(wrap);
    @include align-items(center);
	@include justify-content(center);
    @include flex-direction(row, horizontal);
    
    &:after {
        top: 50%;
        right: 4px;
        height: 16px;
        content: "\f107";
        color: $white_sh2;
        position: absolute;
        @include font-size(16);
        line-height: 16px;
        font-family: $iconfont;
        pointer-events: none;
        @include transform(translateY(-50%));
    }
    
    select {
        height: auto;
        cursor: pointer;
        max-width: 200px;
        border: 0px none;
        color: $black_sh1;
        @include font-size(15);
        line-height: 18px;
        outline: none!important;
        @include padding-left(4);
        @include padding-right(20);
        @include padding-bottom(5);
        font-weight: $weightSemibold;
        @include appearance(none);
        border-bottom: 2px solid rgba($border,0.5);
    }
}


/* Shop Grid(s) */
.products--view {
    &__grid {
        @include inline-flex;
        vertical-align: middle;
        @include flex-wrap(wrap);
        @include margin-left(30);
        @include margin-right(0);
        @include align-items(center);
        @include flex-direction(row, horizontal);
        
        .shop-view {
            @include opacity(.3);
            @include inline-flex;
            vertical-align: middle;
            @include margin-right(10);
            @include transition(all .2s ease-in-out);
            
            .missio--icon {
                display: block;
                fill: $black_sh1;
                @include size(19px);
            }
            
            &:hover, &:focus, &:active, &.current-grid {
                color: $green;
                @include opacity(1);
            
                .missio--icon {
                    fill: $green;
                }
            }
        }
    }
}


/* Shop Listing(s) */
.Shop__Listings {
    @include padding(0 0 0);
    @include margin-bottom(35);
    
    @include responsive(xs) {
        @include padding(20 0 0);
        @include margin-bottom(50);
    }
    
    .content-with-products {
        @include order(1);
        
        @include responsive(md) {
            @include order(2);
        }
    }
    
    .content-with-sidebar {
        @include order(1);
        @include padding-right(10);
        
        @include responsive(xs) {
            @include padding-right(0);
            
            @include respond-to(sm) {
                @include padding-right(0);
                
                @include respond-to(md) {
                    @include padding-right(30);
                }
            }
        }
    }
    
    .product-buttons {
        max-width:60%;
    }
    
    .products-footer {
        clear: both;
        text-align: center;
    }
}


.Product--Grid--View--Controls {
    &.per-row-list {
        .col-12.col-md-4.col-sm-6.col-xs-6 {
            width: 100%!important;
            max-width: 100%!important;
            flex: 0 0 100%!important;
        }
    }
    
    &.per-row-2 {
        .col-12.col-md-4.col-sm-6.col-xs-6 {
            width: 50%!important;
            max-width: 50%!important;
            flex: 0 0 50%!important;
        }
    }
    
    &.per-row-3 {
        .col-12.col-md-4.col-sm-6.col-xs-6 {
            width: 33.3333%!important;
            max-width: 33.3333%!important;
            flex: 0 0 33.3333%!important;
            
            @media (max-width: 576px) {
                width: 50%!important;
                max-width: 50%!important;
                flex: 0 0 50%!important;
            }
        }
    }
    
    &.per-row-4 {
        .col-12.col-md-4.col-sm-6.col-xs-6 {
            width: 25%!important;
            max-width: 25%!important;
            flex: 0 0 25%!important;
            
            @media (max-width: 576px) {
                width: 50%!important;
                max-width: 50%!important;
                flex: 0 0 50%!important;
            }
        }
    }
}


.sidebar--widget {
    @include margin-bottom(25);
    @include padding-bottom(25);
    border-bottom: 1px solid $border;
    
    @include responsive(xs) {
        @include margin-bottom(25);
        @include padding-bottom(25);
    }
    
    &:last-child {
        border-bottom: 0px none;
        @include padding-bottom(0);
    }
    
    &__title {
        @extend .ls05;
        color: $black_sh1;
        @include font-size(18);
        text-transform: uppercase;
        @include margin-bottom(15);
        font-weight: $weightSemibold;
        
        @media (max-width: 767px) {
            @include font-size(16);
            line-height: 18px;
        }
    }
    
    &__content {
        width: 100%;
    }
    
    &__categories, &__colors, &__productLists {
        width: 100%;
        list-style: none;
        @include margin(0);
        @include padding(0);
    }
    
    &__categories {
        
        li {
            line-height: 1.5;
            @include padding(0);
            border-bottom: 1px solid rgba($border,0.33);
            
            &:last-child {
                border-bottom: 0px none;
            }
            
            > a {
                display: block;
                color: $black_sh1;
                @include font-size(16);
                @include padding(13 0);
                @include transition(all .2s ease-in-out);
                
                &:hover, &:active, &:focus, &.active {
                    color: $success;
                }
                
                .arrow {
                    &:before {
                        float: right;
                        margin-top: 1px;
                        margin-right: 5px;
                        display: inline;
                        @include font-size(16);
                        height: auto;
                        content: "\f104";
                        font-weight: 300;
                        text-shadow: none;
                        font-family: $iconfont;
                    }
                    
                    &.open {
                        &:before {
                            content: "\f107";
                            font-family: $iconfont;
                        }
                    }
                }
            }
            &.active {
                > a {
                    color: $success;
                }
            }
            
            &.open {
                > a {
                    color: $white;
                    @include padding(13 15);
                    background-color: darken($success, 10%);
                }
            }
        }
        
        ul.sub-menu {
            clear: both;
            display: none;
            list-style: none;
            @include margin(0);
            background-color: $success;
            
            li {
                > a {
                    color: $white;
                    @include padding(13 5);
                    @include padding-left(30);
                }
            }
        }
    }
    
    
    &__colors {
        
        &--items {
            //$widgetColorsSelf: &;
        }
        
        .items {
            @include flexbox;
            @include flex(1 1 auto);
            @include align-items(center);
            @include flex-direction(row, horizontal);
            
            .hide {
                display: none!important;
            }
            
            .color-swatch {
                display: inline-block;
                vertical-align: middle;
                @include margin-right(10);
                
                .color_box {
                    line-height: 0;
                    @include flexbox;
                    position: relative;
                    @include size(25px);
                    @include padding(0);
                    @include align-items(center);
                    @include border-radius(100%);
                    
                    &:after {
                        top: 50%;
                        left: 0px;
                        color: $white;
                        content: "\f109";
                        @include size(25px);
                        @include opacity(0);
                        visibility: hidden;
                        font-family: $woodmart;
                        position: absolute;
                        @include font-size(12);
                        line-height: 1;
                        @include flexbox;
                        text-align: center;
                        @include align-items(center);
                        @include justify-content(center);
                        font-weight: 700;
                        text-indent: -4px;
                        @include border-radius(50%);
                        @include transition(opacity .2s ease);
                        @include transform(translateY(-50%));
                        @include box-shadow(0 0 0 1px rgba($border,1));
                    }
                }
                
                &.blue {
                    .color_box {
                        background-color: #1f284f;
                    }
                }
            }
            
            .name {
                color: $black_sh1;
                @include font-size(16);
                line-height: 1.2;
                font-weight: $weightRegular;
                text-align: center;
                min-width: 20px;
                display: inline-block;
                position: relative;
                
                &:after {
                    left: 0;
                    right: 0;
                    top: 100%;
                    content: "";
                    height: 2px;
                    margin-top: 1px;
                    position: absolute;
                    @include opacity(0);
                    background-color: $black;
                    @include transition(all .25s ease);
                }
            }
            
            &.active {
                .color-swatch {
                    display: inline-block;
                    vertical-align: middle;
                    @include margin-right(10);

                    .color_box {
                        &:after {
                            @include opacity(1);
                            visibility: visible;
                        }
                    }
                }
                .name {
                    font-weight: $weightSemibold;
                }
            }
        }
            
        .count {
            height: 20px;
            min-width: 25px;
            color: $black_sh2;
            text-align: center;
            @include font-size(12);
            line-height: 12px;
            @include padding(3 5);
            @include border-radius(5px);
            border: 1px solid rgba($border, 0.5);
            @include transition(color .25s ease,background-color .25s ease,border-color .25s ease);
        }
        
        &--items {
            @include flexbox;
            position: relative;
            @include margin-bottom(10);
            @include align-items(center);
            @include justify-content(space-between);
            
            .color--links {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 5;
                position: absolute;
                
                &:after {
                    top: 50%;
                    right: 35px;
                    content: "\f00d";
                    color: $black_sh1;
                    display: none;
                    @include margin-right(5);
                    line-height: 1;
                    font-weight: 400;
                    @include font-size(12);
                    font-family: $iconfont;
                    position: absolute;
                    @include transform(translateY(-50%));
                }
            }
            &:hover {
                .count {
                    color: $white;
                    border: 1px solid rgba($success, 1);
                    background-color: $success!important;
                }
                
                .items .color-swatch .color_box {
                    &:after {
                        @include opacity(1);
                        visibility: visible;
                    }
                }
            }
            
            .items {
                &.active {
                    .color--links {
                        &:after {
                            color: $red;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    
    &__productLists {
        li {
            line-height: 1.5;
            @include flexbox;
            position:relative;
            @include padding(15 0);
            @include margin-bottom(0);
            @include align-items(flex-start);
            @include flex-direction(row, horizontal);
            @include transition(background-color .3s ease);
            border-bottom: 1px solid rgba($border,0.33);
            
            &:last-child {
                border-bottom: 0px none;
            }

            .widget-item-image {
                float:none;
                margin-right:0;
                max-width:65px;
                position:relative;
                @include flex(0 0 auto);
                @include margin-right(10);
                @include transition(opacity .6s ease);
            }

            .widget-item-info {
                @include flex(1 1 auto);
                @include padding-right(0);
            }

            .product-title {
                color:$black;
                display:block;
                @include font-size(16);
                line-height:1.35;
                font-weight:$weightMedium;
                @include margin-bottom(5);
                @include transition(all .2s ease);
                
                > a {
                    color:$black;
                    &:hover {
                        color:$success;
                    }
                }
            }
            
            .widget-rating {
                color: $white_sh2;
                white-space: nowrap;
                vertical-align: top;
                @include inline-flex;
                @include font-size(13);
            }
            
            .amount {
                color: $success;
                @include font-size(14);
                @include padding-left(0);
                font-weight: $weightSemibold;
            }
        }
    }
    
    &__brands {
        @include flexbox;
        @include flex(1 1 auto);
        @include margin-top(-15);
        @include flex-wrap(wrap);
        @include align-items(center);
        @include flex-direction(row, horizontal);
        
        &--items {
            max-width: 50%;
            flex: 0 0 50%;
        }
        
        .items {
            @include flexbox;
            @include flex(1 1 auto);
            @include align-items(center);
            @include flex-direction(row, horizontal);
        }
        
        .swatch-inner {
            max-width: 90px;
            @include inline-flex;
            @include align-items(center);
            @include flex-direction(row, horizontal);
            @include transition(all .2s ease-in-out);
        }
        
        a {
            &:hover, &:focus, &:active {
                .swatch-inner {
                    @include opacity(0.5);
                }
            }
        }
    }
    
    
    .ui-draggable, .ui-droppable {
        background-position: top;
    }
    
    .price_slider_wrapper {
        border: none;
        background: 0 0;
        cursor: pointer;
        min-height: 60px;
        @include margin-top(25);
        
        .price_slider {
            @include margin-bottom(20);
            
            &.ui-slider {
                position: relative;
                
                .ui-slider-range {
                    top: 50%;
                    border: 0;
                    z-index: 1;
                    height: 2px;
                    display: block;
                    margin-top: -1px;
                    border-radius: 0;
                    position: absolute;
                    background-image: none;
                    background-color: $green;
                }
                
                .ui-slider-handle {
                    top: 50%;
                    z-index: 2;
                    outline: 0;
                    border: none;
                    border-radius: 0;
                    @include flexbox;
                    position: absolute;
                    @include size(30px);
                    @include margin-top(-15);
                    @include margin-left(-15);
                    @include align-items(center);
                    @include justify-content(center);
                    @include flex-direction(column, vertical);
                    background-color: transparent !important;
                    cursor: ew-resize;
                    
                    &:after {
                        width: 4px;
                        content: "";
                        height: 15px;
                        display: inline-block;
                        background-color: $green;
                    }
                }
            }
            
            &.ui-widget.ui-widget-content {
                border: 0px none;
            }
            &.ui-slider-horizontal {
                height: 2px;
            }
            
            &:before {
                left: 0;
                top: 50%;
                right: 0;
                height: 2px;
                content: " ";
                margin-top: -1px;
                position: absolute;
                background-color: lighten($border,10%);
            }
        }
        
        .price_slider_amount {
            width: 100%;
            @include flexbox;
            @include margin-top(20);
            @include align-items(center);
            @include justify-content(space-between);
            @include flex-direction(row, horizontal);
        }
        
        .price_amount {
            width: 160px;
            max-width: 160px;
            border: 0px none;
            @include font-size(14);
            @include padding(0 10);
            font-weight: $weightSemibold;
            background-color: transparent;
        }
        
        .button--filter {
            width: auto;
            height: auto;
            color: $black_sh1;
            min-width: inherit;
            @include padding(7 10);
            @include font-size(13);
            line-height: 1;
            background-color: $offwhite;
        }
    }
}


.c-accordion {
    .card {
        border: 0px none;
        @include padding(0);
        background-color: $white;
        @include border-radius(0);
        
        @include margin-bottom(25);
        border-bottom: 1px solid $border;
        
        &:last-child {
            @include margin-bottom(0);
            border-bottom: 0px none;
        }
        
        &-header {
            border: 0px none;
            color: $black_sh1;
            @include padding(0);
            background-color: transparent;
        }
        
        &-body {
            color: $black_sh1;
            @include padding(0);
            
            &--num {
                @include font-size(20);
                @include margin-bottom(15);
                
                @media (max-width: 767px) {
                    @include font-size(15);
                    line-height: 1;
                }
            }
            
            p {
                @include font-size(18);
                line-height: 1.4;
                @include margin-bottom(4);
                
                @media (max-width: 767px) {
                    @include font-size(13);
                    line-height: 1.4;
                }
            }
        }
        
        .btn {
            width: 100%;
            @extend .ls05;
            color: $black_sh1;
            @include padding(0);
            @include font-size(18);
            text-transform: uppercase;
            @include margin-bottom(25);
            font-weight: $weightSemibold;
            @include flexbox;
            @include align-self(center);
            @include align-items(center);
            @include justify-content(space-between);
            background-color: $white;
            
            @media (max-width: 767px) {
                @include font-size(16);
                line-height: 18px;
            }
            
            &:after {
                top: 1px;
                content: "";
                float: right;
                font-weight: 400;
                font-style: normal;
                position: relative;
                display: inline-block;
                font-family: $iconfont;
                @include font-size(20);
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transition: transform .25s linear;
                -webkit-transition: -webkit-transform .25s linear;
                
                @media (max-width: 767px) {
                    @include font-size(16);
                    line-height: 1;
                }
            }
            
            &[aria-expanded="true"] {
                color: rgba($black_sh1,1);
                
                &:after {
                    content: "\f107";
                }
            }
            &[aria-expanded="false"]:after {
                content: "\f104";
            }
        }
    }
}

