<!-- Include Breadcrumbs component here -->
<!--<app-bread-crumbs></app-bread-crumbs>-->

<style type="text/css">
    .sectionhead{display: none!important}
</style>


<div class="AG--Thankyou AG--Thankyou-xs">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h1 class="Thankyou--heading Thankyou--heading-xs">{{'ORDER_SUCCESS' | translate}}</h1>
                <h3 class="Thankyou--description Thankyou--description-xs">{{'ORDER_SUCCESS2' | translate}}</h3>
            </div>
        </div>
    </div>
    
    <div class="section-separator wave-1 bottom">
        <div class="ss-content">
            <svg viewBox="0 0 1920 310" xmlns="http://www.w3.org/2000/svg"><path d="M-3-3c189.258 206.321 322.044 305.322 398.36 297.004 114.475-12.478 166.165-51.675 242.372-82.042 76.206-30.368 179.249-84.051 397.99-32.897 218.742 51.155 475.827-54.141 503.686-70.666 27.859-16.525 121.506-70.92 233.786-64.757 74.853 4.109 128.562-9.284 161.129-40.18v305.721H-3" fill="#FFF" fill-rule="evenodd"/></svg>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- Include Newsletter component here -->
<app-newsletter></app-newsletter>
