<div class="Newsletter Newsletter-xs">
  <div class="container">
    <div class="sectionTitle-wrapper sectionTitle-wrapper-xs text-center no-margin noBorder">
      <h2 class="heading--title--semiMedium heading--title--semiMedium-xs mb-3">{{'JOIN_OUR_NEWSLETTER_NOW' | translate}}</h2>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 col-centered">
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="x" placeholder="Email Address">
            <span class="input-group-append">
              <button class="button button--lgreen button-md" type="button">{{'SIGNUP' | translate}}</button>
            </span>
          </div>
        </div>
      </div>
      <p>{{'WILL_BE_USED_IN_ACCORDING_WITH_OUR_PRIVACY_POLICY' | translate}}</p>
    </div>
  </div>
</div>
<div class="clearfix"></div>