<div class="auth--body auth--body-md My--Profile">
    <div class="auth--body__inner auth--body__inner-md">
        <div class="container">
            <div class="row">
                <aside class="col-12 col-lg-3 col-xl-3">
                    <div class="row u-mb--30 u-mb--30-sm">
                        <div class="col-12 col-lg-12 col-xl-12">
                            <h3 class="section--title section--title-sm">{{'MY_ACCOUNT' | translate}}</h3>
                        </div>
                    </div>
                    
                    <!--Add side bar-->
                    <app-side-bar></app-side-bar>
                </aside>
                <div class="col-12 col-lg-9 col-xl-9 has--leftsidebar has--leftsidebar-md">
                    <div class="c-breadcrumb">
                        <nav class="missio-breadcrumb">
                            <a class="breadcrumb-link" href="/">Home</a> <a class="breadcrumb-link " href="javascript:void(0);" (click)="changeRouter('account')">My Account</a> <span class="breadcrumb-last">{{'CHANGE_PASSWORD' | translate}}</span>
                        </nav>
                    </div>
                    
                    <div class="page-head page-head-sm">
                        <h3 class="u-heading--small u-heading--small-sm">{{'CHANGE_PASSWORD' | translate}}</h3>
                    </div>
                    
                    <div class="profile--box">
                        <div class="portlet light">
                            <div class="portlet--body">
                                <div class="portlet--body--inner portlet--body--inner-sm">
                                    <div class="row">
                                        <div class="col-12 col-lg-7 col-md-7 col-sm-12">
                                            <div class="form-vertical form-vertical-sm u-mt--40 u-mt--40-sm">
                                                <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" id="customer_login">
                                                    <div class="row justify-content-center">
                                                        <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div [ngClass]="userForm.controls['old_passwored'].dirty && userForm.controls['old_passwored'].errors ? 'form-group form-group--has-error' : 'form-group'">
                                                                <input type="password" class="form-control solid rounded" id="old_passwored" name="old_passwored"   formControlName="old_passwored" required="" placeholder="Old Password">
                                                                <div *ngIf="userForm.controls['old_passwored'].dirty && userForm.controls['old_passwored'].errors">
                                                                    <div *ngIf="userForm.controls['old_passwored'].errors.required != null && userForm.controls['old_passwored'].errors.required">
                                                                        <div class="help-block" style="display: block">
                                                                            {{'PLEASE_FILL_OUT_THIS_FIELD' | translate}}
                                                                        </div>
                                                                    </div>
                                                                    <div *ngIf="userForm.controls['old_passwored'].errors.minlength != null && userForm.controls['old_passwored'].errors.minlength">
                                                                        <p class="help-block" style="display: block">
                                                                            {{'PASSWORDS_MUST_BE_AT_LEAST_6_CHARACTERS' | translate}}
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div [ngClass]="userForm.controls['password'].dirty && userForm.controls['password'].errors ? 'form-group form-group--has-error' : 'form-group'">
                                                                <input type="password" class="form-control solid rounded" formControlName="password" id="password" name="password"
                                                                    required placeholder="{{'PASSWORD' | translate}}">
                                                                <div *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].errors">
                                                                    <div *ngIf="userForm.controls['password'].errors.required != null && userForm.controls['password'].errors.required">
                                                                        <div class="help-block" style="display: block">{{'PLEASE_FILL_OUT_THIS_FIELD' | translate}}</div>
                                                                    </div>
                                                                    <div *ngIf="userForm.controls['password'].errors.minlength != null && userForm.controls['password'].errors.minlength">
                                                                        <p class="help-block" style="display: block">{{'PASSWORDS_MUST_BE_AT_LEAST_6_CHARACTERS' | translate}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div [ngClass]="userForm.controls['confirmpass'].dirty && userForm.controls['confirmpass'].errors ? 'form-group form-group--has-error' : 'form-group'">
                                                                <input type="password" class="form-control solid rounded" formControlName="confirmpass" id="confirmpass" name="confirmpass" required placeholder="{{'CONFIRM_PASSWORD' | translate}}">
                                                                <div *ngIf="userForm.controls['confirmpass'].dirty && userForm.controls['confirmpass'].errors">
                                                                    <div *ngIf="userForm.controls['confirmpass'].errors.required != null && userForm.controls['confirmpass'].errors.required">
                                                                        <div class="help-block" style="display: block">{{'PLEASE_FILL_OUT_THIS_FIELD' | translate}}</div>
                                                                    </div>
                                                                    <div *ngIf="userForm.controls['confirmpass'].errors.mustMatch != null && userForm.controls['confirmpass'].errors.mustMatch">
                                                                        <div class="help-block" style="display: block">{{'PLEASE_INSERT_THE_SAME_PASSWORD' | translate}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="form-group">
                                                                <div class="u-flexed u-flexed u-align-center">
                                                                    <button type="submit" class="button button--green button-md">{{'UPDATE_PASSWORD' | translate}}</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-1 col-md-1 col-sm-12 d-none d-sm-block"></div>
                                        <div class="col-12 col-lg-4 col-md-4 col-sm-12 d-none d-sm-block">
                                            <img src="assets/images/protection.svg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Newsletter component here -->
<app-newsletter></app-newsletter>