<div class="section-Accessories section-Accessories-xs ">
    <div class="container">
        <div class="sectionTitle-wrapper sectionTitle-wrapper-xs no-margin text-center">
            <h2 class="heading--title--medium heading--title--medium-xs">{{'ATTACHMENTS_ACCESSORIES' | translate}}</h2>
        </div>
    </div>
    <div class="container" *ngIf="attachmentASStore && attachmentASStore.length">
        <div id="AgfolksAccessories" class="AgfolksAccessories">
            <owl-carousel-o [options]="attachmentASOptions">
                <ng-container *ngFor="let slide of attachmentASStore let i = index">
                    <ng-template carouselSlide [id]="slide.id">
                        <div class="item">
                            <img [src]="slide.src" alt="slide.title" class="img-fluid">
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>