<section class="AgFolks__404 AgFolks__404-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="info info-xs">
                    <div class="message">
                        <h1 class="title title-xs">ERROR 404 NOT FOUND</h1>
                        <p class="fs20 fs20-xs">Sorry! That page doesn't seem to exist</p>
                        <p class="fs20 fs20-xs">Click on the links below to do something, Thanks!</p>
                        <p><a [routerLink]="['']" class="animated-btn green animated-btn-xs">Home<i class="fa fa-angle-right">&nbsp;</i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
