<!-- Include Breadcrumbs component here -->
<app-bread-crumbs></app-bread-crumbs>

<div class="auth--body auth--body-md">
  <div class="auth--body__inner auth--body__inner-md">
    <div class="container">
      <div class="row justify-content-center">
        <div id="form_customer_login" class="u-columns u-columns-sm">
          <div class="u-column1 right-layout">
            <div class="form-vertical form-vertical-sm">
              <div class="login">
                <h2 class="">{{'RESET_YOUR_PASSWORD' | translate}}</h2>
                <div *ngIf="successMsg">
                  <p class="alert alert-success">{{ successMsg | translate }}</p>
                  <a href="javascript:;" (click)="changeRouter('login')" class="ml-auto button-text button-text-green">{{'BACK_TO_LOGIN' | translate}}</a>
                </div>
                <form *ngIf="!successMsg" [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm.value)">
                  <div class="row justify-content-center">
                    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                      <div [ngClass]="resetForm.controls['password'].dirty && resetForm.controls['password'].errors ? 'form-group form-group--has-error' : 'form-group'">
                        <input autocomplete="nope" type="password" class="form-control solid rounded" formControlName="password" id="password" name="password" required placeholder="{{'PASSWORD' | translate}}">
                        <input style="display: none;" type="password"  name="password2" >
                        <div *ngIf="resetForm.controls['password'].dirty && resetForm.controls['password'].errors">
                          <div *ngIf="resetForm.controls['password'].errors.required != null && resetForm.controls['password'].errors.required">
                            <div class="help-block" style="display: block">{{'PLEASE_FILL_OUT_THIS_FIELD' | translate}}</div>
                          </div>
                          <div *ngIf="resetForm.controls['password'].errors.minlength != null && resetForm.controls['password'].errors.minlength">
                            <p class="fs12" style="display: block">{{'PASSWORDS_MUST_BE_AT_LEAST_6_CHARACTERS' | translate}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                      <div [ngClass]="resetForm.controls['confirm'].dirty && resetForm.controls['confirm'].errors ? 'form-group form-group--has-error' : 'form-group'">
                        <input autocomplete="nope" type="password" class="form-control solid rounded" formControlName="confirm" id="confirm" name="confirm" required placeholder="{{'CONFIRM_PASSWORD' | translate}}">
                        <div *ngIf="resetForm.controls['confirm'].dirty && resetForm.controls['confirm'].errors">
                          <div *ngIf="resetForm.controls['confirm'].errors.required != null && resetForm.controls['confirm'].errors.required">
                            <div class="help-block" style="display: block">{{'PLEASE_FILL_OUT_THIS_FIELD' | translate}}</div>
                          </div>
                          <div *ngIf="resetForm.controls['confirm'].errors.minlength != null && resetForm.controls['confirm'].errors.minlength">
                            <div class="help-block" style="display: block">{{'PASSWORDS_MUST_BE_AT_LEAST_6_CHARACTERS' | translate}}</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group">
                        <div class="u-flexed u-flexed u-align-center">
                          <button type="submit" class="button button--green button-md">{{'SUBMIT' | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="u-column2">
            <div class="form-vertical">
              <h2>{{'SIGNUP' | translate}}</h2>
              <div class="registration-info">{{'REGISTERING_MESSAGE' | translate}}</div>
              <a href="javascript:" (click)="changeRouter('sign-up')" class="button button--green button-md button-inline">{{'SIGNUP' | translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Include Newsletter component here -->
<app-newsletter></app-newsletter>
