<section class="c-imageblock" style="background-color:#f3f4f8;">
    <div class="c-imageblock__content col-md-6 col-sm-6 u-pos-left">
        <div class="background-image-holder" data-overlay="3" style="background-image:url(assets/images/Parallax/parallax_04.jpg);">
            <img alt="image" src="assets/images/Parallax/parallax_04.jpg">
            <div class="background-image-holder--header background-image-holder--header-sm">
                <h2 class="title title-sm">Contact Us</h2>
                <p class="sub-title title sub-title-sm">Whether you're looking for answers, would like to solve a problem, or just want to let us know how we did, you’ll find.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 d-none d-md-block"></div>
            <div class="col-md-6 offset-md-6 col-sm-12">
                <div class="c-imageblock__content--body">
                    
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="wpb_wrapper">
                                <h4 class="text-primary text-primary-sm">Have More Questions?</h4>
                                <p><strong>Call or Email Us Today :</strong></p>
                                <p>Summerville, SC 29483</p>
                                
                                <p class="u-flexed u-align-center"><span style="margin-right: 50px;">Phone: <a class="link-green" href="tel:19133334470" title="phone number"><strong>(913) 333-4470</strong></a></span>
                                <span>Email: <a class="link-green" href="mailto:sales@agfolks.com?Subject=Want%20To%20Know%20More" target="_top"><strong>info@agfolks.com</strong></a></span></p>
                                
                                <p>or <a class="link-green" href="/sign-up"><strong>Sign Up!</strong></a> for details and launch information.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>