<div class="hero__inner large large-xs" style="background-image:url(./assets/images/background/news-BG.jpg);">
    <div class="container">
        <header class="hero__inner--content hero__inner--content-xs text-center">
            <h1 class="subhead subhead-xs text-white">AgNews</h1>
        </header>
    </div>
</div>
<div class="clearfix"></div>

<!-- Begin Home Page Content Area -->
<section class="c-blog-section c-blog-section-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9  col-md-9 col-sm-9 col-xs-12 padding-30px-right xs-padding-15px-right">
                <div class="c-blog c-blog-xs blogs js-enabledBlog">
                    <div class="row">

                        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog--inner post-single-page">
                                <div class="meta-post-categories"><a href="#" rel="category tag">Design trends</a>, <a href="#" rel="category tag">Furniture</a></div>
                                
                                <h1 class="entry--title">Seating collection inspiration</h1>
                                <div class="entry--meta">
                                    <ul class="entry--meta--list">
                                        <li class="modified-date">
                                            <time class="updated" datetime="2018-04-20T08:43:04+00:00">June 20, 2019</time>
                                        </li>
                                        <li class="meta-author"> Posted by <img class="avatar" src="./assets/images/profile-avatar.png" width="18" height="18"> <a href="#" rel="author">Wil</a></li>
                                    </ul>
                                </div>
                                
                                <header class="entry--header">
                                    <figure class="entry--header--thumbnail"><img src="./assets/images/news/detail.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Details"></figure>
                                    <span class="entry--header--date">18 May</span>
                                </header>
                                
                                <div class="c-blog--container">
                                    
                                    
                                    <h1>What is Lorem Ipsum?</h1>

                                    <p>Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    
                                    <div class="videoWrapper">
                                        <div class="videoWrapper--inner">
                                            <iframe allow="autoplay; encrypted-media" allowfullscreen="" data-aspectratio="0.5625" data-oldwidth="555" frameborder="0" src="https://www.youtube.com/embed/6Q0CxsUciOQ?rel=0"></iframe>
                                        </div>
                                    </div>

                                    <h2>What is Lorem Ipsum?</h2>

                                    <p><strong>Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</strong></p>

                                    <figure class="image img-fluid img-responsive"><img class="" alt="" data-caption="" data-guid="b46140df-4001-4462-b335-81917ff6d113" src="https://res.cloudinary.com/cognitives/image/upload/dpr_auto,f_auto,fl_lossy,q_auto/sstayi5dk1wjiuqnxgpf" style="max-width: 100% !important;" />
                                    <figcaption>My caption</figcaption>
                                    </figure>

                                    <h3>What is Lorem Ipsum?</h3>

                                    <p><em>Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</em></p>

                                    <h4>What is Lorem Ipsum?</h4>

                                    <p><u>Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</u></p>

                                    <p><img alt="" class="img-responsive img-fluid" height="155" src="https://woodmartcdn-cec2.kxcdn.com/wp-content/uploads/2016/07/blog-1-access-450x700.jpg" style="max-width:100% !important; float:left" width="300" /></p>

                                    <h5>What is Lorem Ipsum?</h5>

                                    <p>Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, <a href="http://google.com">when an unknown printer took a galley of type and scrambled</a> it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                    <h6>What is Lorem Ipsum?</h6>

                                    <p style="text-align: center;">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                    <p style="text-align: right;">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                    <p style="text-align: justify;">Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                                    <p><img alt="" class="img-responsive img-fluid" height="103" src="https://woodmartcdn-cec2.kxcdn.com/wp-content/uploads/2016/07/blog-1-access-450x700.jpg" style="max-width:100% !important; float:right" width="200" /></p>

                                    <ol>
                                        <li>Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                                        <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                        <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                    </ol>

                                    <ul>
                                        <li>Lorem Ipsum has been the industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                                        <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                                        <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
                                    </ul>

                                    <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque fermentum dui faucibus i</p>
                                    </blockquote>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- Sidebar -->
            <aside class="col-12 col-lg-3 col-md-3 col-sm-3 col-xs-12 content-with-sidebar content-with-sidebar-xs">
                <div class="sidebar--widget sidebar--widget-xs">
                    <h2 class="sidebar--widget__title">Categories</h2>
                    <div class="sidebar--widget__content">
                        <ul class="sidebar--widget__categories">
                            <li class="sidebar--widget__categories--items">
                                <a href="shop.html" class="level-top">Crop &amp; Tillage</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Forestry &amp; Land Maintenance</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Hay &amp; Pasture</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Lawn &amp; Garden</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Livestock &amp; Fencing</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Attachments &amp; Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar--widget sidebar--widget-xs">
                    <h2 class="sidebar--widget__title">Recent Posts</h2>
                    <div class="sidebar--widget__content">
                        <ul class="sidebar--widget__productLists">
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_01.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Yellow/blue design concept by Don Moerson</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_02.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Modular seating and table system</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_03.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">5 design trends in furniture this season</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_04.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Yellow/blue design concept by Don Moerson</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_05.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Yellow/blue design concept by Don Moerson</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_06.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Yellow/blue design concept by Don Moerson</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- //End Home Page Content Area -->
<div class="clearfix"></div>
