<div class="hero__inner large large-xs" style="background-image:url(./assets/images/background/news-BG.jpg);">
    <div class="container">
        <header class="hero__inner--content hero__inner--content-xs text-center">
            <h1 class="subhead subhead-xs text-white">AgNews</h1>
        </header>
    </div>
</div>
<div class="clearfix"></div>


<!-- Begin Home Page Content Area -->
<section class="c-blog-section c-blog-section-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9  col-md-9 col-sm-9 col-xs-12 padding-30px-right xs-padding-15px-right">
                <div class="c-blog c-blog-xs blogs js-enabledBlog">
                    <div class="row">

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="/news-detail"><img alt="Yellow/blue design concept" src="./assets/images/news/b_01.jpg"></a>
                                    <a href="/news-detail" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">Yellow/blue design concept</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="/news-detail" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="#"><img alt="Modular seating and table system" src="./assets/images/news/b_02.jpg"></a>
                                    <a href="#" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">Modular seating and table system</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="#" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="#"><img alt="5 design trends in furniture this season" src="./assets/images/news/b_03.jpg"></a>
                                    <a href="#" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">5 design trends in furniture this season</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="#" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="#"><img alt="Woodmart opens a concept store highlightings" src="./assets/images/news/b_04.jpg"></a>
                                    <a href="#" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">Woodmart opens a concept store highlightings</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="#" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="#"><img alt="A light-filled loft in New York city" src="./assets/images/news/b_05.jpg"></a>
                                    <a href="#" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">A light-filled loft in New York city</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="#" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="#"><img alt="Light seats made from Woodmart factory" src="./assets/images/news/b_06.jpg"></a>
                                    <a href="#" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">Light seats made from Woodmart factory</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="#" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="#"><img alt="Woodmart opens a concept store highlightings" src="./assets/images/news/b_07.jpg"></a>
                                    <a href="#" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">Woodmart opens a concept store highlightings</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="#" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="#"><img alt="A light-filled loft in New York city" src="./assets/images/news/b_08.jpg"></a>
                                    <a href="#" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">A light-filled loft in New York city</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="#" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-4 col-md-6 col-sm-12 col-xs-12 u-mb--30">
                            <div class="c-blog__grid">
                                <div class="c-blog__grid__img">
                                    <span class="c-blog__grid--date">18 May</span>
                                    <a href="#"><img alt="Light seats made from Woodmart factory" src="./assets/images/news/b_09.jpg"></a>
                                    <a href="#" class="c-blog__grid--overlay">
                                        <div class="c-blog__grid--figcaption"></div>
                                    </a>
                                </div>
                                <div class="c-blog__grid__text">
                                    <h4 class="js-EnabledHeading"><a href="#">Light seats made from Woodmart factory</a></h4>
                                    <div class="c-blog__grid__text--excerpt js-EnabledExcerpt">Vivamus enim sagittis aptent hac mi dui a per aptent suspendisse cras odio bibendum augue rhoncus laoreet dui praesent sodales...</div>
                                    <div class="c-blog__grid__text--button"><a href="#" class="button button--green button-sm button-inline"><span>Read More</span></a></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Start Pagination -->
                    <div class="u-flexed u-align-center u-mt--20">
                        <div class="pagination">
                            <ul class="page-numbers">
                                <li class="page-numbers--items"><a class="prev" href="javascript:;">←</a> </li>
                                <li class="page-numbers--items"><span class="current">1</span></li>
                                <li class="page-numbers--items"><a href="javascript:;">2</a> </li>
                                <li class="page-numbers--items"><a class="next" href="javascript:;">→</a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div>

            <!-- Sidebar -->
            <aside class="col-12 col-lg-3 col-md-3 col-sm-3 col-xs-12 content-with-sidebar content-with-sidebar-xs">
                <div class="sidebar--widget sidebar--widget-xs">
                    <h2 class="sidebar--widget__title">Categories</h2>
                    <div class="sidebar--widget__content">
                        <ul class="sidebar--widget__categories">
                            <li class="sidebar--widget__categories--items">
                                <a href="shop.html" class="level-top">Crop &amp; Tillage</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Forestry &amp; Land Maintenance</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Hay &amp; Pasture</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Lawn &amp; Garden</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Livestock &amp; Fencing</a>
                            </li>
                            <li class="sidebar--widget__categories--items">
                                <a href="javascript:;" class="level-top">Attachments &amp; Accessories</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar--widget sidebar--widget-xs">
                    <h2 class="sidebar--widget__title">Recent Posts</h2>
                    <div class="sidebar--widget__content">
                        <ul class="sidebar--widget__productLists">
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_01.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Yellow/blue design concept by Don Moerson</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_02.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Modular seating and table system</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_03.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">5 design trends in furniture this season</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_04.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Yellow/blue design concept by Don Moerson</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_05.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Yellow/blue design concept by Don Moerson</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="sidebar--widget__productLists--items">
                                <a href="#" class="widget-item-image"><img src="./assets/images/news/b_06.jpg" width="65" height="65"></a>
                                <div class="widget-item-info">
                                    <h3 class="product-title"><a href="#">Yellow/blue design concept by Don Moerson</a></h3>
                                    <div class="star-rating widget-rating">
                                        <span class="star-badge">
                                            <span class="star-badge-wrap">Jan 18, 2018</span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- //End Home Page Content Area -->
<div class="clearfix"></div>