<div class="featured-products featured-products-xs">
  <div class="container">
    <div class="sectionTitle-wrapper sectionTitle-wrapper-xs">
      <h2 class="heading--title--medium heading--title--medium-xs">You may also like...</h2>
    </div>
  </div>

  <div class="container">
    <!-- Begin Featured Products Row -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product-grid-item product-hover-base">
          <div class="content-product-imagin" style="margin-bottom:-135px;"></div>
          <div class="product-element-top"><a href="#" class="product-image-link"><img
                src="./assets/images/products/01.jpg" alt="PMFG GR03"></a>
            <div class="hover-img"><a href="#"><img src="./assets/images/products/02.jpg" alt=""></a></div>
            <div class="wrapp-swatches">
              <div class="swatches-on-grid">
                <div class="swatch-on-grid" style="background-color:#D52727;">Red</div>
                <div class="swatch-on-grid" style="background-color:#fcba08;">Yellow</div>
              </div>
              <div class="product-compare-button"><a href="javascript:;" data-toggle="tooltip" data-placement="left"
                  title="Add to Compare">Add to Compare</a></div>
            </div>
          </div>
          <div class="product-information">
            <h3 class="product-title"><a href="#">PMFG GR03</a></h3>
            <div class="product-cats"><a href="#">Furniture</a>, <a href="#">Shop</a></div>
            <div class="product-price">$850.00</div>
            <div class="fade-in-block">
              <div class="hover-content more-description">
                <div class="product-description js-description">Placerat tempor dolor eu leo ullamcorper et magnis
                  habitant ultrices consectetur arcu nulla mattis fermentum adipiscing a et bibendum sed platea
                  malesuada eget vestibulum.</div>
              </div>
              <div class="product-buttons">
                <div class="wrap-wishlist-button"><a href="javascript:;" data-toggle="tooltip"
                    title="Add to Wish List"><span>Add to Wish List</span></a>
                  <div class="clear"></div>
                </div>
                <div class="add-tocart-btn"><a href="cart.html" data-toggle="tooltip" title="Add to Cart"><span>Add to
                      Cart</span></a></div>
                <div class="wrap-quickview-button">
                  <div class="quick-view"><a href="#" class="quickview-icon" data-toggle="tooltip"
                      title="Quick View">Quick View</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product-grid-item product-hover-base">
          <div class="content-product-imagin" style="margin-bottom:-135px;"></div>
          <div class="product-element-top"><a href="#" class="product-image-link"><img
                src="./assets/images/products/01.jpg" alt="PMFG GR03"></a>
            <div class="hover-img"><a href="#"><img src="./assets/images/products/02.jpg" alt=""></a></div>
            <div class="wrapp-swatches">
              <div class="swatches-on-grid">
                <div class="swatch-on-grid" style="background-color:#D52727;">Red</div>
                <div class="swatch-on-grid" style="background-color:#fcba08;">Yellow</div>
              </div>
              <div class="product-compare-button"><a href="javascript:;" data-toggle="tooltip" data-placement="left"
                  title="Add to Compare">Add to Compare</a></div>
            </div>
          </div>
          <div class="product-information">
            <h3 class="product-title"><a href="#">PMFG GR03</a></h3>
            <div class="product-cats"><a href="#">Furniture</a>, <a href="#">Shop</a></div>
            <div class="product-price">$850.00</div>
            <div class="fade-in-block">
              <div class="hover-content more-description">
                <div class="product-description js-description">Placerat tempor dolor eu leo ullamcorper et magnis
                  habitant ultrices consectetur arcu nulla mattis fermentum adipiscing a et bibendum sed platea
                  malesuada eget vestibulum.</div>
              </div>
              <div class="product-buttons">
                <div class="wrap-wishlist-button"><a href="javascript:;" data-toggle="tooltip"
                    title="Add to Wish List"><span>Add to Wish List</span></a>
                  <div class="clear"></div>
                </div>
                <div class="add-tocart-btn"><a href="cart.html" data-toggle="tooltip" title="Add to Cart"><span>Add to
                      Cart</span></a></div>
                <div class="wrap-quickview-button">
                  <div class="quick-view"><a href="#" class="quickview-icon" data-toggle="tooltip"
                      title="Quick View">Quick View</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="product-grid-item product-hover-base">
          <div class="content-product-imagin" style="margin-bottom:-135px;"></div>
          <div class="product-element-top"><a href="#" class="product-image-link"><img
                src="./assets/images/products/01.jpg" alt="PMFG GR03"></a>
            <div class="hover-img"><a href="#"><img src="./assets/images/products/02.jpg" alt=""></a></div>
            <div class="wrapp-swatches">
              <div class="swatches-on-grid">
                <div class="swatch-on-grid" style="background-color:#D52727;">Red</div>
                <div class="swatch-on-grid" style="background-color:#fcba08;">Yellow</div>
              </div>
              <div class="product-compare-button"><a href="javascript:;" data-toggle="tooltip" data-placement="left"
                  title="Add to Compare">Add to Compare</a></div>
            </div>
          </div>
          <div class="product-information">
            <h3 class="product-title"><a href="#">PMFG GR03</a></h3>
            <div class="product-cats"><a href="#">Furniture</a>, <a href="#">Shop</a></div>
            <div class="product-price">$850.00</div>
            <div class="fade-in-block">
              <div class="hover-content more-description">
                <div class="product-description js-description">Placerat tempor dolor eu leo ullamcorper et magnis
                  habitant ultrices consectetur arcu nulla mattis fermentum adipiscing a et bibendum sed platea
                  malesuada eget vestibulum.</div>
              </div>
              <div class="product-buttons">
                <div class="wrap-wishlist-button"><a href="javascript:;" data-toggle="tooltip"
                    title="Add to Wish List"><span>Add to Wish List</span></a>
                  <div class="clear"></div>
                </div>
                <div class="add-tocart-btn"><a href="cart.html" data-toggle="tooltip" title="Add to Cart"><span>Add to
                      Cart</span></a></div>
                <div class="wrap-quickview-button">
                  <div class="quick-view"><a href="#" class="quickview-icon" data-toggle="tooltip"
                      title="Quick View">Quick View</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="product-grid-item product-hover-base">
          <div class="content-product-imagin" style="margin-bottom:-135px;"></div>
          <div class="product-element-top"><a href="#" class="product-image-link"><img
                src="./assets/images/products/01.jpg" alt="PMFG GR03"></a>
            <div class="hover-img"><a href="#"><img src="./assets/images/products/02.jpg" alt=""></a></div>
            <div class="wrapp-swatches">
              <div class="swatches-on-grid">
                <div class="swatch-on-grid" style="background-color:#D52727;">Red</div>
                <div class="swatch-on-grid" style="background-color:#fcba08;">Yellow</div>
              </div>
              <div class="product-compare-button"><a href="javascript:;" data-toggle="tooltip" data-placement="left"
                  title="Add to Compare">Add to Compare</a></div>
            </div>
          </div>
          <div class="product-information">
            <h3 class="product-title"><a href="#">PMFG GR03</a></h3>
            <div class="product-cats"><a href="#">Furniture</a>, <a href="#">Shop</a></div>
            <div class="product-price">$850.00</div>
            <div class="fade-in-block">
              <div class="hover-content more-description">
                <div class="product-description js-description">Placerat tempor dolor eu leo ullamcorper et magnis
                  habitant ultrices consectetur arcu nulla mattis fermentum adipiscing a et bibendum sed platea
                  malesuada eget vestibulum.</div>
              </div>
              <div class="product-buttons">
                <div class="wrap-wishlist-button"><a href="javascript:;" data-toggle="tooltip"
                    title="Add to Wish List"><span>Add to Wish List</span></a>
                  <div class="clear"></div>
                </div>
                <div class="add-tocart-btn"><a href="cart.html" data-toggle="tooltip" title="Add to Cart"><span>Add to
                      Cart</span></a></div>
                <div class="wrap-quickview-button">
                  <div class="quick-view"><a href="#" class="quickview-icon" data-toggle="tooltip"
                      title="Quick View">Quick View</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="product-grid-item product-hover-base">
          <div class="content-product-imagin" style="margin-bottom:-135px;"></div>
          <div class="product-element-top"><a href="#" class="product-image-link"><img
                src="./assets/images/products/01.jpg" alt="PMFG GR03"></a>
            <div class="hover-img"><a href="#"><img src="./assets/images/products/02.jpg" alt=""></a></div>
            <div class="wrapp-swatches">
              <div class="swatches-on-grid">
                <div class="swatch-on-grid" style="background-color:#D52727;">Red</div>
                <div class="swatch-on-grid" style="background-color:#fcba08;">Yellow</div>
              </div>
              <div class="product-compare-button"><a href="javascript:;" data-toggle="tooltip" data-placement="left"
                  title="Add to Compare">Add to Compare</a></div>
            </div>
          </div>
          <div class="product-information">
            <h3 class="product-title"><a href="#">PMFG GR03</a></h3>
            <div class="product-cats"><a href="#">Furniture</a>, <a href="#">Shop</a></div>
            <div class="product-price">$850.00</div>
            <div class="fade-in-block">
              <div class="hover-content more-description">
                <div class="product-description js-description">Placerat tempor dolor eu leo ullamcorper et magnis
                  habitant ultrices consectetur arcu nulla mattis fermentum adipiscing a et bibendum sed platea
                  malesuada eget vestibulum.</div>
              </div>
              <div class="product-buttons">
                <div class="wrap-wishlist-button"><a href="javascript:;" data-toggle="tooltip"
                    title="Add to Wish List"><span>Add to Wish List</span></a>
                  <div class="clear"></div>
                </div>
                <div class="add-tocart-btn"><a href="cart.html" data-toggle="tooltip" title="Add to Cart"><span>Add to
                      Cart</span></a></div>
                <div class="wrap-quickview-button">
                  <div class="quick-view"><a href="#" class="quickview-icon" data-toggle="tooltip"
                      title="Quick View">Quick View</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //End Featured Products Row -->

    </div>
  </div>
</div>
<div class="clearfix"></div>